---
import IconMenu from '@icons/IconMenu.astro'
---

<header
  class="flex items-center justify-between py-4 px-8 sm:px-12 lg:px-24 test"
>
  <div class="flex items-center gap-4">
    <a href="/" class="text-xl font-bold text-green-400">HOMEKIDS</a>
    <IconMenu />
  </div>
</header>
