---
import Header from '@components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>HOMEKIDS</title>
  </head>
  <body>
    <Header />
    <main class="flex-1 p-4 sm:p-8 lg:p-16">
      <slot />
    </main>
  </body>
</html>
