---
import { useUserAgent } from '@utils/useragent'

const userAgent = useUserAgent(Astro.request.headers.get('user-agent'))
const title = userAgent.isTablet ? 'TABLET' : 'DESKTOP'
const widthTablet = 1020
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900">
    <main class=`bg-gray-800 p-4`>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    touch-action: pan-x pan-y; /* Allow scrolling but limit zoom gestures */
  }
</style>
